@charset "utf-8";
@import "function";
@import "variable";

.contact {

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      table {
        tr {
          th {
            font-size: 15px;
            padding: 5px 30px;
          }
          td {
            padding: 10px;
            .select {
              min-width: 500px;
            }
            .input {
              min-width: 500px;
            }
            .gender-label {
              padding-right: 15px;
            }
            .textarea {
              min-width: 500px;
            }
          }
        }
      }
      
      .selection-button {
        @include selectionButtonStyle();
        .button {
          @include buttonTagBaseStyle("", #fff);
        }
      }
    }
}
