@charset 'utf-8';
@import "variable";

.feature{
  text-align: center;
  .feature-headline{
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 20px;
  }
  .feature-img{
    margin: 0 0 20px;
  }

  .feature-description{
    margin: 0;
    text-align: left;
  }
}
