@charset "utf-8";
@import "function";

.grid{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    .grid-item{
        list-style: none;
    }
}

.grid-col2{
    .grid-item{
        width: gridColCalc(2);
    }
}

.grid-col3{
    .grid-item{
        width: gridColCalc(3);
    }
}

.grid-col4{
    .grid-item{
        width: gridColCalc(4);
    }
}
