@charset 'utf-8';
@import "variable";

.section{
    padding: 30px 15px;

    .section-headline{
        margin: 0 0 40px;
        text-align: center;
        color: $baseBlack;
        font-size: 40px;
        font-weight: bold;
    }
}

.section-secondary {
    background-color: #efefef;
}